In [5]:
from urllib.request import urlopen
from plotly.offline import init_notebook_mode
import plotly.express as px
import plotly.graph_objects as go
import json
import pandas as pd
import numpy as np
import itertools
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import plotly.io as pio

In [8]:
f = open('gadm41_NLD_1.json')
#df_net = json.load(gadm41_NLD_1.json)

FileNotFoundError: [Errno 2] No such file or directory: 'gadm41_NLD_1.json'

In [3]:
t = pd.read_csv('Data_online_shopping_total.csv', delimiter = ';', index_col = 0)
t.head()

,Totaal online aankopen,Kleding of sportartikelen,Boeken. tijdschriften en kranten,Soft-/ hardware en elektronische benodig,Huishoudelijke goederen en apparaten
Perioden,,,,,
2012,64.0,31.2,22.9,12.8,15.8
2013,68.0,36.7,27.5,16.6,18.2
2014,69.7,40.5,28.7,18.3,23.2
2015,70.0,42.4,28.2,24.8,23.9
2016,73.3,47.9,29.1,26.1,28.6

In [ ]:


fig = px.choropleth(df_usa, geojson=counties, locations='fips', color='unemp',
                           color_continuous_scale="Viridis",
                           range_color=(0, 12),
                           scope="usa",
                           labels={'unemp':'unemployment rate'}
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()